<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suscribirse y Registrarse</title>
</head>
<body>
    <h2>Regístrate para Suscribirte a POKEDEX</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} {# Esto renderiza todos los campos de RegisterUserForm #}
        <button type="submit">Suscribirme y Crear Cuenta</button>
    </form>
    
    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
</body>
</html>